<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updated</servlet-name>
        <servlet-class>updated</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show</servlet-name>
        <servlet-class>show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emptycart</servlet-name>
        <servlet-class>emptycart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>yourorder</servlet-name>
        <servlet-class>yourorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproduct</servlet-name>
        <servlet-class>addproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteproduct</servlet-name>
        <servlet-class>deleteproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateproduct</servlet-name>
        <servlet-class>updateproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updated</servlet-name>
        <url-pattern>/updated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginval</servlet-name>
        <servlet-class>loginval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requesthandle</servlet-name>
        <servlet-class>requesthandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchase</servlet-name>
        <servlet-class>purchase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginval</servlet-name>
        <url-pattern>/loginval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requesthandle</servlet-name>
        <url-pattern>/requesthandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchase</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emptycart</servlet-name>
        <url-pattern>/emptycart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yourorder</servlet-name>
        <url-pattern>/yourorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteproduct</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateproduct</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
